$main-color: #FF0000;
$background-color: #FFFFFF;
$text-color: #000000;

@mixin d-flex($justify-content, $align-items) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
}

@mixin color-scheme($main-color, $body-background-color, $text-color, $main-content-bg){
	body {
	margin: 0;
	background-color: $body-background-color;
	color: $text-color;
	}

	h1 {
		color: $main-color;
	}

	.content {
		height: 100vh;
		@include d-flex(center, center);
	}

	.main-content {
		padding: calc(4vw + 50px);
		background-color: $main-content-bg;
	}
}

@mixin select-color($background-color) {
	select {
		width: calc(8vw + 40px);
		height: calc(2vh + 20px);
		border: none;
		border-radius: 5px;
		background-color: $background-color;
		color: white;
		font-size: 1.25em;
	}
}

.red {
	@include color-scheme(#FF0000, #FFFFFF, #000000, #D9D9D9); 
	@include select-color(#FF0000);
}

.green {
	@include color-scheme(#00FF00, #000000, #FFFFFF, #D9D9D9);
	@include select-color(#00FF00);
}

.blue {
	@include color-scheme(#0000FF, #FFFF00, #000000, #D9D9D9);	
	@include select-color(#0000FF);
}