$main-color: #FF0000;
$background-color: #FFFFFF;
$text-color: #000000;

@mixin font-family($font) {
	font-family: $font;
}

@mixin d-flex($justify-content, $align-items) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
}

@mixin color-scheme($main-color, $body-background-color, $text-color, $main-content-bg){
	body {
		margin: 0;
		background-color: $body-background-color;
		color: $text-color;
		@include font-family('Trebuchet MS');
	}

	h1 {
		color: $main-color;
	}

	.content {
		height: 100vh;
		@include d-flex(center, center);
	}

	.main-content {
		padding: calc(4vw + 50px);
		background-color: $main-content-bg;
	}
}

@mixin select-color($background-color, $font-color) {
	select {
		width: calc(8.7vw + 85px);
		height: calc(2vh + 20px);
		border: none;
		border-radius: 5px;
		background-color: $background-color;
		color: $font-color;
		font-size: calc(0.5em + 1vw);
	}
}

.red {
	@include color-scheme(#FF0000, #FF0000, #000000, white); 
	@include select-color(#FF0000, white);
}

.green {
	@include color-scheme(#00FF00, #00FF00, #FFFFFF, brown);
	@include select-color(#00FF00, black);
}

.blue {
	@include color-scheme(#0000FF, #0000FF, #000000, lightgreen);	
	@include select-color(#0000FF, white);
}

.black-pink {
	@include color-scheme(pink, pink, white, black);	
	@include select-color(pink, black);
}

.purple {
	@include color-scheme(purple, purple, black, orange);
	@include select-color(purple, white);
}

.chartreuse {
	@include color-scheme(chartreuse, chartreuse, white, darkblue);
	@include select-color(chartreuse, black);
}

.aqua {
	@include color-scheme(aqua, aqua, white, darkred);
	@include select-color(aqua, black);
}