.red body {
  margin: 0;
  background-color: #FF0000;
  color: #000000;
  font-family: "Trebuchet MS";
}
.red h1 {
  color: #FF0000;
}
.red .content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.red .main-content {
  padding: calc(4vw + 50px);
  background-color: white;
}
.red select {
  width: calc(8.7vw + 85px);
  height: calc(2vh + 20px);
  border: none;
  border-radius: 5px;
  background-color: #FF0000;
  color: white;
  font-size: calc(0.5em + 1vw);
}

.green body {
  margin: 0;
  background-color: #00FF00;
  color: #FFFFFF;
  font-family: "Trebuchet MS";
}
.green h1 {
  color: #00FF00;
}
.green .content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.green .main-content {
  padding: calc(4vw + 50px);
  background-color: brown;
}
.green select {
  width: calc(8.7vw + 85px);
  height: calc(2vh + 20px);
  border: none;
  border-radius: 5px;
  background-color: #00FF00;
  color: black;
  font-size: calc(0.5em + 1vw);
}

.blue body {
  margin: 0;
  background-color: #0000FF;
  color: #000000;
  font-family: "Trebuchet MS";
}
.blue h1 {
  color: #0000FF;
}
.blue .content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blue .main-content {
  padding: calc(4vw + 50px);
  background-color: lightgreen;
}
.blue select {
  width: calc(8.7vw + 85px);
  height: calc(2vh + 20px);
  border: none;
  border-radius: 5px;
  background-color: #0000FF;
  color: white;
  font-size: calc(0.5em + 1vw);
}

.black-pink body {
  margin: 0;
  background-color: pink;
  color: white;
  font-family: "Trebuchet MS";
}
.black-pink h1 {
  color: pink;
}
.black-pink .content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.black-pink .main-content {
  padding: calc(4vw + 50px);
  background-color: black;
}
.black-pink select {
  width: calc(8.7vw + 85px);
  height: calc(2vh + 20px);
  border: none;
  border-radius: 5px;
  background-color: pink;
  color: black;
  font-size: calc(0.5em + 1vw);
}

.purple body {
  margin: 0;
  background-color: purple;
  color: black;
  font-family: "Trebuchet MS";
}
.purple h1 {
  color: purple;
}
.purple .content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.purple .main-content {
  padding: calc(4vw + 50px);
  background-color: orange;
}
.purple select {
  width: calc(8.7vw + 85px);
  height: calc(2vh + 20px);
  border: none;
  border-radius: 5px;
  background-color: purple;
  color: white;
  font-size: calc(0.5em + 1vw);
}

.chartreuse body {
  margin: 0;
  background-color: chartreuse;
  color: white;
  font-family: "Trebuchet MS";
}
.chartreuse h1 {
  color: chartreuse;
}
.chartreuse .content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chartreuse .main-content {
  padding: calc(4vw + 50px);
  background-color: darkblue;
}
.chartreuse select {
  width: calc(8.7vw + 85px);
  height: calc(2vh + 20px);
  border: none;
  border-radius: 5px;
  background-color: chartreuse;
  color: black;
  font-size: calc(0.5em + 1vw);
}

.aqua body {
  margin: 0;
  background-color: aqua;
  color: white;
  font-family: "Trebuchet MS";
}
.aqua h1 {
  color: aqua;
}
.aqua .content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aqua .main-content {
  padding: calc(4vw + 50px);
  background-color: darkred;
}
.aqua select {
  width: calc(8.7vw + 85px);
  height: calc(2vh + 20px);
  border: none;
  border-radius: 5px;
  background-color: aqua;
  color: black;
  font-size: calc(0.5em + 1vw);
}

/*# sourceMappingURL=main.css.map */
